/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url(../fonts/gagalin-regular-webfont.woff);
@import url(../fonts/gagalin-regular-webfont.woff2);
@import url(../fonts/lifehack_medium-webfont.woff);
@import url(../fonts/lifehack_medium-webfont.woff2);
@import url(../fonts/Ubuntu-Light.woff);
@import url(../fonts/Ubuntu-Medium.woff);
@import url(../fonts/Ubuntu-Regular.woff);
* {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 16px; }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers.
     */
body {
  margin: 0; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * Remove the gray background on active links in IE 10.
     */
a {
  background-color: transparent; }

/**
     * 1. Remove the bottom border in Chrome 57-
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

html, body {
  height: 100%;
  width: 100%; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

title {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer; }

input, textarea {
  width: 100%;
  border: none;
  outline: none; }

textarea {
  resize: none;
  height: 90px; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Remove the border on images inside links in IE 10.
     */
img {
  border-style: none; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers.
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     * 1. Show the overflow in Edge.
     */
button,
input {
  /* 1 */
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * Correct the inability to style clickable types in iOS and Safari.
     */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
     * Remove the inner border and padding in Firefox.
     */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
     * Restore the focus styles unset by the previous rule.
     */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  vertical-align: baseline; }

/**
     * Remove the default vertical scrollbar in IE 10+.
     */
textarea {
  overflow: auto; }

/**
     * 1. Add the correct box sizing in IE 10.
     * 2. Remove the padding in IE 10.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
     * Remove the inner padding in Chrome and Safari on macOS.
     */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE 10+, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/* Misc
       ========================================================================== */
/**
     * Add the correct display in IE 10+.
     */
template {
  display: none; }

/**
     * Add the correct display in IE 10.
     */
[hidden] {
  display: none; }

@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 14px; } }

.section {
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto; }

.container_column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrap {
  width: 100%;
  overflow: hidden; }

html, body {
  height: 100%;
  width: 100%; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer; }

input, textarea {
  width: 100%;
  border: none;
  outline: none; }

textarea {
  resize: none;
  height: 90px; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url(../fonts/Ubuntu-Light.woff);
  font-weight: 300; }

@font-face {
  font-family: 'ubuntumedium';
  src: url(../fonts/Ubuntu-Medium.woff);
  font-weight: 400; }

@font-face {
  font-family: 'ubunturegular';
  src: url(../fonts/Ubuntu-Regular.woff);
  font-weight: 500; }

.button, .desctop__btn, .mobile__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: 'ubuntumedium';
  min-width: 6.125rem;
  padding: .625rem 1.0625rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer; }

.mobile__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #2f3234; }
  @media screen and (min-width: 1024px) {
    .mobile__btn {
      display: none; } }

/*.review__btn ,*/
.desctop__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #2f3234; }
  @media screen and (max-width: 480px) {
    .desctop__btn {
      display: none; } }

.header__btn {
  background-color: #e45028;
  margin-left: 20px; }
  .header__btn:hover {
    background: #c1401e; }
  @media screen and (max-width: 768px) {
    .header__btn {
      margin-left: 0rem;
      margin-right: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .header__btn {
      margin-left: 0rem;
      margin-right: 1.25rem; } }

.button__form-submit {
  background-color: #e45028;
  margin-right: 20px; }

.title {
  font-family: 'gagalin';
  font-size: 4.5rem;
  color: #f9b43b; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3.5rem; } }

.we-do__title {
  line-height: 10rem; }
  @media screen and (max-width: 768px) {
    .we-do__title {
      line-height: 7rem; } }

.best__title {
  position: relative;
  color: #2f3234;
  /* margin-bottom: 75px; */
  text-align: center;
  /* padding-bottom: 89px; */
  top: -45px; }

.carte__title {
  color: #ffff;
  padding: 8rem 0 0 6rem; }

.hero {
  padding: 0.9375rem 0 2.5rem 0;
  background-image: url(../image/Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.header, .we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.we-do {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .we-do {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.we-do__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .we-do__wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      -webkit-box-flex: .8;
      -ms-flex: .8;
      flex: .8; } }

.we-do__img {
  max-width: 100%; }

.we_do__icon {
  top: -3.125rem;
  right: -1rem; }

.we-do__slogan {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem 0 0 1.875rem; }
  @media screen and (max-width: 480px) {
    .we-do__slogan {
      padding: 0; } }

.we-do__text {
  font-family: 'lifehackmedium';
  font-size: 4.0625rem;
  line-height: 3.3125rem;
  color: #FFF; }
  @media screen and (max-width: 480px) {
    .we-do__text {
      font-size: 3.5rem; } }

.we-do__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff; }
  @media screen and (max-width: 768px) {
    .menu-list {
      display: none; } }

.menu-list__item {
  font-family: 'ubuntumedium';
  text-transform: uppercase;
  font-size: 0.8125rem;
  list-style: none;
  text-decoration: none; }
  .menu-list__item:first-child a::before {
    display: none; }

.menu-list__link::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  margin: 0 16px; }

.header__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
  .header__drop-menu {
    width: 5px;
    height: 34px;
    border-radius: 20%;
    background-color: #ffffff;
    margin: 0px 0 0 5px; }
    @media screen and (min-width: 1024px) {
      .header__drop-menu {
        display: none; } }
    .header__drop-menu:first-child {
      margin: 0; }
  @media screen and (min-width: 1024px) {
    .header__drop {
      display: none; } }

.best {
  background-image: url(../image/best.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.best__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__list, .best__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 480px) {
  .best__list {
    display: block; } }

.best__picture {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 480px) {
    .best__picture {
      margin: 0 1rem 2.1875rem 0; } }
  @media screen and (max-width: 480px) {
    .best__picture_imege {
      width: 5.875rem;
      height: 5.625rem; } }

.best__item, .best__desc {
  list-style: none; }

@media screen and (max-width: 480px) {
  .best__desc {
    margin-left: 0.875rem; } }

@media screen and (max-width: 480px) {
  .best__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.25rem; }
    .best__item:last-child {
      margin: 0; } }

.best__name {
  text-align: center;
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.0375rem;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .best__name {
      text-align: left;
      line-height: 0; } }

.best__text {
  text-align: center;
  width: 300px;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .best__text {
      width: unset; } }
  @media screen and (max-width: 480px) {
    .best__text {
      text-align: left;
      font-size: 0.875rem; } }

.review__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0; }

.review__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  height: 50%;
  overflow: hidden;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
  @media screen and (max-width: 768px) {
    .review__item {
      width: 50%;
      height: 25%;
      background-position: center center; } }

@media screen and (max-width: 768px) {
  .review__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; } }

.review__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  padding: 50px 30px 30px 20px; }
  .review__hover:hover {
    opacity: 1;
    background: rgba(20, 20, 20, 0.7);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.review__name {
  font-family: 'gagalin';
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 20px; }
  @media screen and (max-width: 480px) {
    .review__name {
      font-size: 1.5rem;
      word-spacing: 3rem;
      letter-spacing: 1px; } }

.review__text {
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 225px; }
  @media screen and (max-width: 480px) {
    .review__text {
      display: none; } }

.team {
  position: relative;
  background-image: url(../image/team__mainpic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }

.team__content {
  position: absolute;
  background-color: rgba(47, 50, 52, 0.93);
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: left;
  padding: 6.25rem 4.0625rem 0 4.0625rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team__title {
  padding-bottom: 3.8rem; }
  @media screen and (max-width: 768px) {
    .team__title {
      text-align: center; } }

.accordeon__item--active .accordeon__content {
  height: 6.725rem;
  opacity: 1; }
  @media screen and (max-width: 768px) {
    .accordeon__item--active .accordeon__content {
      height: 14.725rem; } }

.accordeon__item--active .accordeon__trigger {
  color: #f9b43b; }
  .accordeon__item--active .accordeon__trigger::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.5;
    -o-transition: 0.5;
    transition: 0.5;
    position: relative;
    top: 0.4375rem; }

.accordeon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
  padding-left: 1.125rem; }
  @media screen and (max-width: 768px) {
    .accordeon__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      padding-bottom: 1.25rem; } }

.accordeon__trigger {
  color: #fff;
  text-decoration: none;
  font-size: .875rem;
  font-family: Gagalin;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 2.5rem; }
  .accordeon__trigger::before {
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    border: 0.3125rem solid transparent;
    border-bottom-width: 0;
    border-top-color: #f9b43b;
    margin-right: 0.5rem; }
  @media screen and (max-width: 768px) {
    .accordeon__trigger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.accordeon__item-image {
  height: 6.25rem;
  width: 6.25rem;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1.25rem;
  max-width: 6.25rem;
  min-width: 6.25rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }

.accordeon__desc {
  padding: 0 0 0 0.9375rem;
  max-width: 20.9375rem; }

.accordeon__desc-title, .accordeon__desc-text {
  color: #fff; }

.accordeon__desc-title {
  font-family: 'ubuntumedium';
  margin-bottom: 1.25rem; }

.accordeon__desc-text {
  font-family: 'ubuntulight'; }

.carte {
  background-image: url(../image/section__carte-mainimg.png);
  background-size: cover;
  background-position: top;
  position: relative; }

.carte__title {
  position: absolute; }

.carte-accordeon {
  height: 100%;
  position: absolute;
  right: 0;
  height: 100%; }

.carte-accordeon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.carte-accordeon__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-top: 3rem;
  width: 5rem;
  height: 100%;
  font-family: 'gagalin';
  color: #ffff;
  font-size: 2.5rem;
  line-height: 2; }
  @media screen and (max-width: 480px) {
    .carte-accordeon__trigger {
      width: 3rem;
      font-size: 1.5rem; } }

.carte-accordeon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.carte-accordeon__item--active .carte-accordeon__trigger {
  color: #f9b43b; }

.carte-accordeon__item--active .carte-accordeon__desc {
  width: 34rem;
  opacity: 1; }
  @media screen and (max-width: 768px) {
    .carte-accordeon__item--active .carte-accordeon__desc {
      width: 37rem; } }
  @media screen and (max-width: 480px) {
    .carte-accordeon__item--active .carte-accordeon__desc {
      width: 18rem; } }

.carte-accordeon__desc {
  width: 0;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.93); }

.carte-accordeon__text {
  padding: 4rem 2.2rem;
  font-size: 0.875rem;
  line-height: 1.714;
  font-family: "ubuntulight";
  color: white; }
  @media screen and (max-width: 768px) {
    .carte-accordeon__text {
      font-size: 1.3rem; } }
  @media screen and (max-width: 480px) {
    .carte-accordeon__text {
      font-size: 1rem;
      text-align: justify; } }

.order {
  background-image: url(../image/delivery-mainpic.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.order__title {
  text-align: center;
  margin-bottom: 2.8125rem; }

.form__area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .form__area {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__block {
  width: 48%; }
  @media screen and (max-width: 768px) {
    .form__block {
      width: 70%; } }
  @media screen and (max-width: 480px) {
    .form__block {
      width: 95%; } }

.form__row {
  margin-bottom: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .form__row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__field {
  width: 100%;
  text-align: left;
  margin-left: 1.25rem; }
  .form__field:first-child {
    margin-left: 0; }

.form__field-title {
  display: block;
  margin-bottom: 0.4375rem; }

.form__field-input {
  outline: none;
  width: 100%;
  border: 2px #d1cfcb solid;
  color: #141414;
  line-height: 33px;
  border-radius: 5px;
  padding-left: 1.25rem;
  padding-right: 0.625rem;
  resize: none; }
  .form__field-input:focus {
    border: 2px #f9b43b solid; }

.form__radio-element,
.form__checkbox-element {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.25rem; }

.form__radio-input,
.form__checkbox-input {
  position: absolute;
  top: 0px;
  left: -9999px; }

.form__radio-input:checked + .form__radio-fake::after {
  width: 0.4375rem;
  height: 0.4375rem; }

.form__radio-fake {
  position: relative;
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  vertical-align: middle;
  border: 1px solid #cacaca;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  margin-right: 0.5rem; }
  .form__radio-fake:after {
    content: "";
    width: 0px;
    height: 0px;
    background-color: #e45028;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.form__checkbox-fake {
  position: relative;
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  vertical-align: middle;
  background-color: #ffffff;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  margin-right: 0.5rem; }

.form__checkbox-input:checked + .form__checkbox-fake {
  background-image: url("../image/checkbox-orfwr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%; }

.form-submit {
  cursor: pointer;
  margin-right: 1.25rem; }

.form__reset {
  cursor: pointer;
  color: #ffffff;
  outline: none;
  border: 0;
  background: none;
  font-weight: 300; }

.form__answer {
  position: relative;
  background-color: #ffffff;
  font-family: 'ubuntulight';
  font-weight: 300;
  color: #141414;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 0.3125rem;
  padding: 1.5625rem 1.25rem; }

.form__answer-title {
  margin-bottom: 1.25rem; }

.map {
  background-image: url("../image/bgi_section_map.png");
  background-size: cover;
  background-repeat: no-repeat; }

.footer {
  height: 3.75rem;
  background-image: url("../image/footer_mainImg.png"); }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.375rem; } }

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .footer-wrap {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.contacts {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 48%; }
  .contacts__adress {
    line-height: 2;
    font-family: 'ubuntulight'; }
  .contacts__phones {
    color: #e45028;
    font-family: 'ubuntumedium'; }
  .contacts__phones::before {
    content: '';
    width: 0.9375rem;
    height: 0.9375rem;
    background-image: url(../image/phone__footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 6px; }
  @media screen and (max-width: 480px) {
    .contacts {
      width: unset;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.tel {
  color: #e45028; }

.socials {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .socials {
      width: unset;
      display: block; } }

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8125rem 0 0 0; }

.socials__link {
  margin-left: 1.25rem; }
  .socials__link:hover {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 1.25rem;
    height: 1.25rem;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat; }
  .socials__link::before {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 1.25rem;
    height: 1.25rem;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat; }

.socials__link--vk:hover {
  background-image: url("../image/vk_ico--hover.png"); }

.socials__link--vk::before {
  background-image: url("../image/vk_ico.png"); }

.socials__link--fb::before {
  background-image: url("../image/fb_ico.png"); }

.socials__link--fb:hover {
  background-image: url("../image/fb_ico--hover.png"); }

.socials__link--inst:hover {
  background-image: url("../image/inst_ico--hover.png"); }

.socials__link--inst::before {
  background-image: url("../image/inst_ico.png"); }

.socials__link--tw:hover {
  background-image: url("../image/tw_ico--hover.png"); }

.socials__link--tw::before {
  background-image: url("../image/tw_ico.png"); }

.pagination {
  position: fixed;
  right: 4.09rem;
  top: 5.57143rem;
  z-index: 500;
  list-style: none; }
  @media screen and (max-width: 768px) {
    .pagination {
      display: none; } }
  @media screen and (max-width: 480px) {
    .pagination {
      display: none; } }

.pagination li {
  margin-bottom: 7px; }

.pagination li a {
  width: 0.35714rem;
  height: 0.35714rem;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block; }
  .pagination li a::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.07143rem solid transparent;
    border-radius: 50%;
    left: -0.35rem;
    top: 0.16rem; }

.pagination li a.active:after {
  border-color: #ffffff; }
