@import url(../fonts/gagalin-regular-webfont.woff);
@import url(../fonts/gagalin-regular-webfont.woff2);
@import url(../fonts/lifehack_medium-webfont.woff);
@import url(../fonts/lifehack_medium-webfont.woff2);
@import url(../fonts/Ubuntu-Light.woff);
@import url(../fonts/Ubuntu-Medium.woff);
@import url(../fonts/Ubuntu-Regular.woff);
@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url(../fonts/Ubuntu-Light.woff);
  font-weight: 300; }

@font-face {
  font-family: 'ubuntumedium';
  src: url(../fonts/Ubuntu-Medium.woff);
  font-weight: 400; }

@font-face {
  font-family: 'ubunturegular';
  src: url(../fonts/Ubuntu-Regular.woff);
  font-weight: 500; }
