//color
$black: #141414;
$dark: #2f3234;
$yellow: #f9b43b;
$orange: #e45028;
$green: #8bc334;
$red: #e35028;
$white: #ffffff;
$grey: #d1cfcb;



//breackpoints
$desctop: 1024px;
$tablets : 768px;
$phones: 480px;


@import "settings/normalize";
@import "settings/media";
@import "settings/base";
@import "settings/font";
@import "section/btn";
@import "section/title";
@import "section/section__hero";
@import "section/we-do";
@import "section/we-do__down";
@import "section/header";
@import "section/section__best";
@import "section/best__wrap";
@import "section/section__review";
@import "section/review__hover";
@import "section/section__team";
@import "section/section__carte";
@import "section/section_delivery";
@import "section/section_map";
@import "section/footer";
@import "section/pagination";