/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url(../fonts/gagalin-regular-webfont.woff);
@import url(../fonts/gagalin-regular-webfont.woff2);
@import url(../fonts/lifehack_medium-webfont.woff);
@import url(../fonts/lifehack_medium-webfont.woff2);
@import url(../fonts/Ubuntu-Light.woff);
@import url(../fonts/Ubuntu-Medium.woff);
@import url(../fonts/Ubuntu-Regular.woff);
* {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers.
     */
body {
  margin: 0; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * Remove the gray background on active links in IE 10.
     */
a {
  background-color: transparent; }

/**
     * 1. Remove the bottom border in Chrome 57-
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

html, body {
  height: 100%;
  width: 100%; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

title {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer; }

input, textarea {
  width: 100%;
  border: none;
  outline: none; }

textarea {
  resize: none;
  height: 90px; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Remove the border on images inside links in IE 10.
     */
img {
  border-style: none; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers.
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     * 1. Show the overflow in Edge.
     */
button,
input {
  /* 1 */
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * Correct the inability to style clickable types in iOS and Safari.
     */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
     * Remove the inner border and padding in Firefox.
     */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
     * Restore the focus styles unset by the previous rule.
     */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  vertical-align: baseline; }

/**
     * Remove the default vertical scrollbar in IE 10+.
     */
textarea {
  overflow: auto; }

/**
     * 1. Add the correct box sizing in IE 10.
     * 2. Remove the padding in IE 10.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
     * Remove the inner padding in Chrome and Safari on macOS.
     */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE 10+, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/* Misc
       ========================================================================== */
/**
     * Add the correct display in IE 10+.
     */
template {
  display: none; }

/**
     * Add the correct display in IE 10.
     */
[hidden] {
  display: none; }

.section {
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 940px;
  margin: 0 auto; }

.container_column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

html, body {
  height: 100%;
  width: 100%; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer; }

input, textarea {
  width: 100%;
  border: none;
  outline: none; }

textarea {
  resize: none;
  height: 90px; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url(../fonts/Ubuntu-Light.woff);
  font-weight: 300; }

@font-face {
  font-family: 'ubuntumedium';
  src: url(../fonts/Ubuntu-Medium.woff);
  font-weight: 400; }

@font-face {
  font-family: 'ubunturegular';
  src: url(../fonts/Ubuntu-Regular.woff);
  font-weight: 500; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  background-color: #e45028;
  color: #fff;
  border-radius: 4%; }
  .button:hover {
    background: #c1401e; }

.review__btn {
  padding: 0.9rem 0;
  background-color: #2f3234;
  width: 130px; }

.header__btn {
  font-family: 'ubuntumedium';
  margin-left: 20px;
  font-size: 0.92857rem;
  padding: 9px 18px; }

.title {
  font-family: 'gagalin';
  font-size: 4.5rem;
  color: #f9b43b; }

.we-do__title {
  line-height: 4rem; }

.best__title {
  position: relative;
  color: #2f3234;
  /* margin-bottom: 75px; */
  text-align: center;
  /* padding-bottom: 89px; */
  top: -45px; }

.hero {
  padding: 15px 0 40px 0;
  background-image: url(../image/Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.we-do__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .8;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: .8;
  flex: .8; }

.header, .we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.we-do {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff; }

.menu-list__item {
  font-family: 'ubuntumedium';
  text-transform: uppercase;
  font-size: 0.8125rem;
  list-style: none;
  text-decoration: none; }
  .menu-list__item:first-child a::before {
    display: none; }

.menu-list__link::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  margin: 0 16px; }

.we-do__pic {
  max-width: 100%;
  position: relative;
  top: -50px;
  right: -16px; }

.we-do__slogan {
  margin-left: 31px;
  margin-top: -22px;
  line-height: 1.3; }

.we-do__text {
  font-family: 'lifehackmedium';
  font-size: 4.0625rem;
  line-height: 85px;
  color: #FFF; }

.we-do__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best {
  background-image: url(../image/best.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.best__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__list, .best__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__picture {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__item, .best__desc {
  list-style: none; }

.best__name {
  text-align: center;
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.0375rem;
  margin-top: 2.1875rem;
  margin-bottom: 1.5625rem; }

.best__text {
  text-align: center;
  width: 300px;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.review__name {
  font-family: 'gagalin';
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 20px; }

.review__text {
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 225px; }

.review__link {
  color: #fff;
  font-family: 'ubuntumedium';
  text-transform: uppercase;
  font-size: 0.8125rem;
  text-decoration: none; }

.review__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0; }

.review__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  height: 50%;
  overflow: hidden;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.review__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  padding: 50px 30px 30px 20px; }
  .review__hover:hover {
    opacity: 1;
    background: rgba(20, 20, 20, 0.7);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.pagination {
  position: fixed;
  right: 11.09rem;
  top: 5.57143rem;
  z-index: 500;
  list-style: none; }

.pagination li {
  margin-bottom: 7px; }

.pagination li a {
  width: 0.35714rem;
  height: 0.35714rem;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block; }
  .pagination li a::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.07143rem solid transparent;
    border-radius: 50%;
    left: -0.35rem;
    top: 0.16rem; }

.pagination li a.active:after {
  border-color: #ffffff; }
