.best__wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best__list{
    display: flex;
    align-items: center;
}

.best__list {
    @include phones{
        display: block;
    }
}
.best__picture{
    justify-content: center;
    margin-bottom: 2.1875rem;

    @include phones{
        margin: 0 1rem 2.1875rem 0;
    }
    &--image{
        @include phones{
            width: rem(94px);
            height: rem(94px);
        }
    }
}

.best__item , .best__desc{
    list-style: none;
}
.best__desc{
    @include phones{
        margin-left: rem(14px);
    }
}
.best__item {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
@include phones{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25rem;
    &:last-child{
        margin: 0;
    }
}
}

.best__name{
    text-align: center;
    color: #2f3234;
    font-family: lifehackmedium;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.0375rem;
    margin-bottom: 1.5625rem;
    @include phones {
        text-align: left;
        line-height: 0;
    }
}
.best__text{
    text-align: center;
    width: 300px;
    font-family: 'ubuntulight';
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    @include tablets{
        width: unset;
    }
    @include phones {
        text-align: left;
        font-size: rem(14px);
    }
}