
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'ubuntumedium';
    border-radius: 5px;
    background-color: #e45028;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 11px 16px;

 
    &:hover{
        background: #c1401e;;
    }
}


.review__btn{
  display: inline-flex;
    background-color: #2f3234;
 
}  
.header__btn{
    
    margin-left: 20px;
}