
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'ubuntumedium';
    min-width: 6.125rem;
    padding: .625rem 1.0625rem;
    border-radius: 5px;
    
    text-decoration: none;
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    transition: .5s;
    cursor: pointer;

 
    
}


.review__btn{
  display: inline-flex;
    background-color: #2f3234;
 
}  
.header__btn{
    background-color: #e45028;
    margin-left: 20px;
    &:hover{
        background: #c1401e;;
    }
    @include tablets{
        margin-left: rem(0px);
        margin-right: rem(20px)
    }
    @include phones{
        margin-left: rem(0px);
        margin-right: rem(20px);
    }
}
.button__form-submit{
    background-color: #e45028;
    margin-right: 20px;
}