.footer{
    height: rem(60px);
    background-image: url('../image/footer_mainImg.png');
    @include phones{
        height: rem(118px);
    }
}
.footer-wrap{
    display: flex;
    @include phones{
    align-items: center;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    }
}


.contacts{
    color:$white;
    display: flex;
    flex-direction: column;
    width: 48%;
    &__adress{
        line-height: 2;
        font-family: 'ubuntulight';
    }
    &__phones {
        color:$orange;
        font-family: 'ubuntumedium';
    }
    &__phones::before{
        content: '';
        width: 0.9375rem;
        height: 0.9375rem;
        background-image: url(../../image/sprite-icon/phone.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-flex;
        margin-right: 6px;       
    }
    @include phones{
        width: unset;
        align-items: center;
        display: flex;
    }
}
.tel{
    color:$orange;
}


.socials{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include phones{
        width:unset;
        display: block;
    }
}
.socials__list{
    display: flex;
    padding: rem(13px) 0 0 0;
}
.socials__link{
margin-left: rem(20px); 
 fill: $dark;
 &:hover{
     fill:$white;
 }
}
.socials__link--size{
    width: rem(20px);
    height: rem(20px);
}

