
.header{
    justify-content: space-between;
}


.menu{
    display: flex;
    align-items: center
}
.menu-list{
    display: flex;
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
      
    }
    @include tablets{
        display: none;
    }
}
.menu-list__item{
    font-family: 'ubuntumedium';
    text-transform: uppercase;
    font-size: 0.8125rem;
    list-style: none;
    text-decoration: none;
    &:first-child a::before{
        display: none;
    }
}
.menu-list__link::before{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0 16px;
   
  
}
.header__drop{
    display: flex;
    transform: rotate(90deg);

    &-menu{
    width: 5px;
    height: 34px;
    border-radius: 20%;
    background-color: $white;
    margin: 0px 0 0 5px;
    @include desctop{
        display: none;
    }
    &:first-child{
        margin: 0;
    }

    }
    @include desctop{
        display: none;
    }
}