.review__hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    height: 100%;
    padding: 50px 30px 30px 20px;
    &:hover{
        opacity: 1;
      background:rgba(20, 20, 20, 0.7);
      transform: rotate(360deg);
      transition: .3s;
    }
}
 .review__name{
        font-family: 'gagalin';
        font-size: 0.875rem;
        color: #fff;
        margin-bottom: 20px;
    }
    .review__text{
        font-family: 'ubuntulight';
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.5rem;
        color: #fff;
        margin-bottom: 20px;
        overflow: hidden;
        max-width: 225px;
    }