.carte{
    background-image: url(../../image/section__carte-mainimg.png);
    background-size: cover;
    background-position: top;

}
.carte-accordeon{
    height: 100%;
}
.carte-accordeon__trigger{
    display: inline-block;
    
    background-image: url(image/cart_accordeon_meat.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    height: 80px;
    transform: rotate(90deg);
}