.hero {
    padding: 15px 0 40px 0;
    background-image: url(../image/Rectangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.header, .we-do{
    display: flex;
    align-items: center;
    
}


