.team{
    position: relative;
    background-image: url(../image/team__mainpic.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;

}
.team__content{
    position: absolute;
    background-color: rgba(47,50,52,.93);
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: left;
    padding: 6.25rem 4.0625rem 0 4.0625rem;
    @include tablets{
        left:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.team__title{
    padding-bottom: 3.8rem;
    @include tablets{
     text-align: center;
    }
}
.accordeon__item--active{
    .accordeon__content{
       height: 6.725rem;
        opacity: 1;
    }
    .accordeon__trigger{
        color: $yellow;
        &::before{
            transform: rotate(180deg);
            transition: 0.5;
            position: relative;
            top: rem(7px);
        }
    }
}
.accordeon__content{
    display: flex;
    height: 0;
    overflow: hidden;
    padding-left: rem(18px);
    @include tablets{
        display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: rem(20px);
    }
}
.accordeon__trigger{
    color: #fff;
    text-decoration: none;
    font-size: .875rem;
    font-family: Gagalin;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 2.5rem;
    &::before{
        content: '';
        display: inline-block;
        height: 0;
        width: 0;
        border: rem(5px) solid transparent;
        border-bottom-width: 0;
        border-top-color: #f9b43b;
        margin-right: 0.5rem;
    }
    @include tablets{
        display: flex;
        justify-content: center;
    }
}
.accordeon__item-image{
    height: 6.25rem;
    width: 6.25rem;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.25rem;
    max-width: 6.25rem;
    min-width: 6.25rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.accordeon__desc{
    padding:0 0 0 rem(15px);
    max-width: rem(335px);
}
.accordeon__desc-title , .accordeon__desc-text{
    color:#fff;
}
.accordeon__desc-title{
    font-family: 'ubuntumedium';
    margin-bottom: rem(20px);
}
.accordeon__desc-text{
    font-family: 'ubuntulight';
}