.carte{
    background-image: url(../image/section__carte-mainimg.png);
    background-size: cover;
    background-position: top;
    position: relative;
    

}
.carte__title{
    position: absolute;
}
.carte-accordeon{
    height: 100%;
    position: absolute;
    right: 0;
    height: 100%;
}
.carte-accordeon__list{
    display: flex;
    height: 100%;
}
.carte-accordeon__trigger{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-top: 3rem;
    width: 5rem;
    height: 100%;
    font-family: 'gagalin';
    color:#ffff;
    font-size: 40px;
    line-height: 2;
    
    
}
.carte-accordeon__item{
    display: flex;
}
.carte-accordeon__desc{
    width: 0;
    overflow: hidden;
    background-color: rgba(47,50,52,.93);
    &--active{
        width: 34rem;
    }
}

.carte-accordeon__text{
    padding: 4rem 2.2rem;
    font-size: 14px;
    line-height: 1.714;
    font-family: "ubuntulight";
    color: rgb(255, 255, 255);
}
