.order{
    background-image: url(../image/delivery-mainpic.png);
    background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;
	padding: rem(140px) 0 ;
}
.order__title{
	text-align: center;
	margin-bottom: rem(45px);
}
.form__area {
	width: 100%;
	display: flex;
	color: $white;
	font-family: 'ubuntulight';
	font-size: rem(14px);
	font-weight: 300;
	justify-content: space-between;
	@include tablets{
		flex-direction: column;
		justify-content: center;
		align-items:center;
	}

}

.form__block {
	width: 48%;
	@include tablets{
	  width: 70%;
	}

}

.form__row {
	margin-bottom: rem(15px);
	display: flex;
	
}

.form__field {
	width: 100%;
	text-align: left;
	margin-left: rem(20px);
	&:first-child {
		margin-left: 0;
	}
}

.form__field-title {
	display: block;
	margin-bottom: rem(7px);
}

.form__field-input {
	outline: none;
	width: 100%;
	border: 2px #d1cfcb solid;
	color: $black;
	line-height: 33px;
	border-radius: 5px;
	padding-left: rem(20px);
	padding-right: rem(10px);
	resize: none;
	&:focus {
		border: 2px $yellow solid;
	}
}


.form__radio-element,
.form__checkbox-element{
	position: relative;
	display: inline-flex;
	align-items: center;
	margin-right: rem(20px);
}

.form__radio-input,
.form__checkbox-input{
	position: absolute;
	top: 0px;
	left: -9999px;
}

.form__radio-input:checked + .form__radio-fake::after {
	width: rem(7px);
	height: rem(7px);
}

.form__radio-fake {
	position: relative;
	display: inline-block;
	width: rem(15px);
	height: rem(15px);
	vertical-align: middle;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 50%;
	background-color: $white;
	transition: border 0.2s;
	margin-right: rem(8px);
	&:after {
		content: "";
		width: 0px;
		height: 0px;
		background-color: $orange;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		transition: all 0.5s;
	}
}

.form__checkbox-fake {
	position: relative;
	display: inline-block;
	width: rem(15px);
	height: rem(15px);
	vertical-align: middle;
	background-color: $white;
	transition: border 0.2s;
	margin-right: rem(8px);
}

.form__checkbox-input:checked + .form__checkbox-fake {
	background-image: url('../image/checkbox-orfwr.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
}

.form-submit {
	cursor: pointer;
	margin-right: rem(20px);
}

.form__reset {
	cursor: pointer;
	color: $white;
	outline: none;
	border: 0;
	background: none;
	font-weight: 300;
}


.form__answer {
	position: relative;
	background-color: $white;
	font-family: 'ubuntulight';
	font-weight: 300;
	color: $black;
	text-align: center;
	font-size: rem(14px);
	border-radius: rem(5px);
	padding: rem(25px) rem(20px);

}

.form__answer-title {
	margin-bottom: rem(20px);
}