.review__list{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.review__item{
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    flex-grow: 1;
    width: 25%;
    height: 50%;
    overflow: hidden;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    @include tablets{
        width: 50%;
        height: 25%;
        background-position: center center;

    }
 
}

.review__wrap{
    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

