.title{
    font-family: 'gagalin';
    font-size: 4.5rem;
    color: #f9b43b;
    @include phones{
        font-size: 3.5rem;
    }
}
.we-do__title{
    line-height: 10rem;
    @include tablets{
        line-height: 7rem;
    }
}
.best__title{ 
    position: relative;
    color: #2f3234;
    /* margin-bottom: 75px; */
    text-align: center;
    /* padding-bottom: 89px; */
    top: -45px;
}

.carte__title{
    color:#ffff;
    padding: 8rem 0 0 6rem;
}