.we-do{
    flex: 1;
    @include tablets{       
            align-items: center;
            justify-content: center;
    }
}
.we-do__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets{
        flex-direction: column;
        text-align: center;
        flex: .8;
        }
    }
.we-do__img{
    max-width: 100%;
}
.we_do__icon{
    top: rem(-50px);
    right: rem(-16px);
}

.we-do__slogan{
    flex: 1;
    padding: 1rem 0 0 1.875rem;
    @include phones{
        padding: 0;
    }
    
}


.we-do__text{
    font-family: 'lifehackmedium';
    font-size: 4.0625rem;
    line-height: 3.3125rem;
    color: #FFF;
    @include phones{
        font-size: 3.5rem;
    }
}
